.fira-sans-thin {
  font-family: "Fira Sans", serif;
  font-weight: 100;
  font-style: normal;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color: #F1F1F3;
}

header nav {
  height: 100px;
  width: 1280px;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .header_h3 {
  font-size: 32px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
}

nav .btn {
  font-size: 18px;
  font-weight: 600;
  color: #006A50;
  font-family: "Fira Sans", serif;
  padding: 15px 30px;
  border-radius: 8px;
  border: 1px solid #006A50;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}

nav .btn:hover {
  color: #FFFFFF;
  background-color: #006A50;
  border: 1px solid #006A50;
}

#main_part {
  width: 1280px;
  margin: 0px auto;
}

#main_part .banner {
  background-color: #C6E4D6;
  display: flex;
  justify-content: space-between;
  padding: 80px 59.99px;
  border-radius: 24px;
  margin: 20px 0px 80px 0px;
}

.banner_title {
  width: 616px;
  margin-top: 37px;
}

.banner_title .banner_p {
  font-size: 24px;
  font-weight: 500;
  color: rgba(14, 14, 14, 0.5);
  font-family: "Fira Sans", serif;
  margin-bottom: 16px;
}
.banner_title .banner_h1 {
  font-size: 56px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  margin-bottom: 16px;
  margin-bottom: 24px;
}
.button .btn_2 {
  font-size: 18px;
  font-weight: 600;
  color: #F1F1F3;
  font-family: "Fira Sans", serif;
  margin-bottom: 16px;
  padding: 17px 34px;
  background-color: #006A50;
  border-radius: 8px;
  margin-bottom: 24px;
  border: 1px solid #006A50;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}
.button .btn_2:hover{
  background-color: #F1F1F3;
  color: #006A50;
  border: 1px solid #006A50;
}
.banner_image{
  width: 474.03px;
}
.pillars{
  margin-bottom: 80px;
}
.pillars .pillar_titlew{
  font-size: 40px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  margin-bottom: 32px;
}
.pillar_cards{
  display: flex;
  justify-content: space-between;
}
.pillar_card {
  width: 302px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  padding: 24px;
}
.card_img{
  width: 62px;
  margin-bottom: 24px;
}
.card_img img{
  width: 100%;
}
.card_h4{
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}
.card_p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
}

.vision_h2{
  font-size: 40px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  margin-bottom: 24px;
}
.vision_p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-bottom: 32px;
}
.vision_cards{
  display: flex;
  justify-content: space-between;
}
.card{
  width: 410.67px;
  padding: 32px;
  border-radius: 16px;
  background-color: rgba(84, 144, 245, 0.2);
}
.card_2{
  background-color: #C6E4D6;
}
.card_3{
  background-color: #F7EBCF;
  padding: 24px;
}
.cards_img{
  width: 64px;
  margin-bottom: 24px;
}
.cards_img img{
  width: 100%;
}

.card_h4{
  font-size: 20px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}
.card_p{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-bottom: 29px;
}
.card_p2{
  margin-bottom: 48px;
}
.card_p3{
  margin-bottom: 64px;
}
.button_2 .btn{
  font-size: 16px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: "Fira Sans", serif;
  padding: 11px 20px;
  border: 1px solid #5490F5;
  border-radius: 8px;
  background-color: #5490F5;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;

}
.button_2 .btn:hover{
  background-color: #FFFFFF;
  color: #5490F5;
  border: 1px solid #5490F5;
}

.button_2 .btn_2{
  background-color: #09A15C;
  border: 1px solid #09A15C;
}
.button_2 .btn_2:hover{
  background-color: #FFFFFF;
  color: #09A15C;
  border: 1px solid #09A15C;
}

.button_2 .btn_3{
  background-color: #FFC239;
  border: 1px solid #FFC239;
}
.button_2 .btn_3:hover{
  color: #FFC239;
  background-color: #FFFFFF;
  border: 1px solid #FFC239;
}
.yunus_sir{
  margin-top: 32px;
  margin-bottom: 80px;
  padding: 48px 24px;
  background-image: url('../Photo/quote-bg.png');
  background-size: 64px;
  background-position-x: 24px;
  background-position-y: 25px;
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  border-radius: 16px;
  border: 1px solid rgba(14, 14, 14, 0.15);
}
.sir_about{
  font-size: 16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}
.sir_name{
  font-size:20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  margin-bottom:4px;
}
.sir_title{
  font-size:16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.6);
  font-family: "Fira Sans", serif;
}
.opinion_h2{
  font-size:40px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  margin-bottom: 24px;
}
.opinion_box{
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 32px;
}
table td , th{
  border: 1px solid rgba(14, 14, 14, 0.15);
}
table{
  border-collapse: collapse;
}
.td_div{
  padding: 24px;
  display: flex;
  justify-content: space-between;
  background-color: #C6E4D6;
}
.th_question{
  font-size:20px;
  font-weight: 600;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
}
.td_div{
  width: 1216px;
}
.td_1{
  font-size:16px;
  font-weight: 600;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  padding: 36.5px 24px;
}
.ans_div{
  display: flex;
  width: 154px;
  text-align: center;
  padding: 12.5px 16.5px;
  background-color: rgba(198, 228, 214, 1);
  border-radius: 4px;
  border: 1px solid #0E0E0E;
}
.fa-solid{
  margin-left: 12px;
  width: 24px;
}
.td_c{
  width: 200px;
}

.recent_news{
  margin-top: 80px;
}
.recent_h2{
  font-size:40px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  margin-bottom: 24px;
}
.recent_p{
  font-size:16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-bottom: 32px;
}
.satellight_card{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 24px;
}
.satellite{
  border-radius: 24px;
  background-color: #FFFFFF;
  display: flex;
  gap: 32px;
  padding: 48px;
}
.satellite_image{
  width: 408px;
 
}
.satellite_image img{
  width: 100%;
  border-radius: 24px;
}
.satellite_info{
  width: 744px;
  margin-top: 8px;
}
.info_h3{
  font-size:32px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}
.info_img{
  width: 134px;
  margin-bottom: 12px;
}
.info_img img{
  width: 100%;
}
.date_and_time{
  font-size:16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}
.Time{
  margin-left: 12px;
}
.info_p{
  width: 744px;
  font-size:16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-bottom: 32px;
}
.button_4{
  padding: 13px 26px;
  font-size:18px;
  font-weight: 600;
  color: #FFFFFF;
  background-color: #006A50;
  font-family: "Fira Sans", serif;
  border-radius: 8px;
  border: 1px solid #006A50;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}
.button_4:hover{
  color: #006A50;
  background-color: #FFFFFF;
  border: 1px solid #006A50;
}
.donate{
  margin: 80px 0px;
}
.donate_h2{
  font-size:40px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  margin-bottom: 24px;
  text-align: center;
}
.donate_p{
  width: 1104px;
  font-size:16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-bottom: 32px;
  text-align: center;
}
.taka{
  width: 240px;
  text-align: center;
}
.taka_1{
  width: 252px;
}
.taka_1 .tk_card{
  background-color: #C6E4D6;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}
.taka_2{
  width: 243px;
}

.taka_3{
  width: 264px;
}

.tk_card{
  font-size:40px;
  font-weight: 700;
  color: rgba(14, 14, 14, 0.8);
  font-family: "Fira Sans", serif;
  padding: 40px;
  border-radius: 18px;
  background-color: #FFFFFF;
  cursor: pointer;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-duration: 1s;
}


.ammount_button{
  text-align: center;
}
.tk_card:hover{
  color: #000000;
  background-color: #C6E4D6;
}
.ammount_card{
  width: 1071px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}

.ammounr_input{
  text-align: center;
  margin: 32px 0px;
}
.ammounr_input input{
  font-size:20px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.3);
  font-family: "Fira Sans", serif;
  padding: 20px 422.5px;
  background-color: #FFFFFF;
  border: none;
  border-bottom:1px solid rgba(14, 14, 14, 0.15) ;
}
.Subscribe{
  padding: 80px 265px;
  background-color: #C6E4D6;
  border-radius: 24px;
  margin-bottom: 80px;
}
.Subscribe h2{
  font-size:40px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  text-align: center;
  margin-bottom: 16px;
}
.Subscribe p{
  width: 681px;
  font-size:16px;
  font-weight: 400;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  text-align: center;
  margin-bottom: 24px;
}
.Subscribe p{
  font-size:16px;
  font-weight: 400;
  color: rgba(14, 14, 14, 0.7);
  font-family: "Fira Sans", serif;
  margin-top: 24px;
}
.input_1{
  display: flex;
}
.input_1 textarea{
  width: 300px;
}
.input_1 input{
  width: 600px;
  height: 55px;
  padding: 18px 403px 18px 40px;
  border: none;
  font-size:16px;
  font-weight: 400;
  font-family: "Fira Sans", serif;
  color: rgba(14, 14, 14, 0.3);
}
.subsc{
  cursor: pointer;
  padding: 17px 34px;
  background-color: #006A50;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;


}
.input_1 h2{
  font-size:18px;
  font-weight: 600;
  font-family: "Fira Sans", serif;
  color: #FFFFFF;
 
}
.footer_all{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.bd h3{
  font-size:32px;
  font-weight: 700;
  color: #0E0E0E;
  font-family: "Fira Sans", serif;
  margin-bottom: 32px;
}
.img_row{
  display: flex;
  justify-content: center;
  gap: 23px;
}
.img_1{
  width: 24px;
}
.img_1 img{
  width: 100%;
}
.img_3{
  width: 26.55px;
}
.img_3 img{
  width: 100%;
}